.search{
margin: auto;
  width: 50%;
  padding: 10px;
}

.form-inline {
    margin: auto;
    width: 50%;
    text-align: center;
    
}

input {
    width: 300px;
}
.form-control {
    background-color: lightgray;
}
label {
    padding: 2px;
}
